.login {
  height: 85vh;
  display: flex;
}

.login__section {
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.login__textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.login__textLine {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

@media screen and (max-width: 500px) {
  .login__section {
    margin: 16px auto 0;
  }

  .login__textContent {
    row-gap: 20px;
  }

  .login__textLine {
    flex-direction: column;
    align-items: center;
  }
}