.login {
  height: 85vh;
  display: flex;
}

.login__section {
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.login__textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.login__input {
  width: 80%;
}