.orderSuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderSuccess__main {
  display: grid;
  row-gap: 60px;
  justify-items: center;
}

.orderSuccess__descr {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 8px;
  text-align: center;
}