.register {
  height: 85vh;
  display: flex;
}

.register__section {
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.register__textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}