.profile {
  height: 85vh;
  width: 1260px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px auto;
  column-gap: 60px;
}

@media screen and (max-width: 850px) {
  .profile {
    width: 100%;
    display: flex;
    margin: initial;
    justify-content: center;
  }
}