.aside {
  padding-top: 120px;
}

.aside__list {
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.aside__listItem {
  list-style: none;
}

.aside__link {
  margin: 0;
  padding: 10px 0;
  color: var(--text-inactive-color);
  text-decoration: none;
  cursor: pointer;
}

.aside__linkActive {
  margin: 0;
  padding: 10px 0;
  color: var(--text-inactive-color);
  text-decoration: none;
  cursor: pointer;
  color: var(--text-primary-color);
}

@media all and (max-width: 1024px) {

}

@media all and (max-width: 390px) {
  .aside {
    display: none;
  }
}