.feed {
  width: 1240px;
  padding-top: 40px;
  margin: 0 auto;
  display: grid;
  row-gap: 20px;
  height: 85%;
}

.feed__container {
  width: inherit;
  display: grid;
  grid-template-columns: 600px 580px;
  column-gap: 60px;
}

.feed__link {
  text-decoration: none;
  color: var(--text-primary-color);
  width: inherit;
  list-style: none;
  background-color: var(--background);
  padding: 24px;
  border-radius: 40px;
  display: grid;
  row-gap: 24px;
}

.feed__voidList {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.feed__ready {
  display: grid;
  row-gap: 8px;
  grid-template-rows: repeat(3, auto);
}

.feed__readyHead {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 36px;
}

.feed__tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1315px) {
  .feed {
    width: 90%;
  }

  .feed__container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .feed__readyHead {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
}

@media screen and (max-width: 850px) {
  .feed {
    width: 100%;
  }
}