.feed {
  width: 1240px;
  padding-top: 40px;
  margin: 0 auto;
  display: grid;
  row-gap: 20px;
  height: 85%;
}

.feed__wrapper {
  width: inherit;
  display: grid;
  grid-template-columns: 600px 580px;
  column-gap: 60px;
}