.feed {
  width: 1240px;
  padding-top: 40px;
  margin: 0 auto;
  display: grid;
  row-gap: 20px;
  height: 85%;
}

.feed__container {
  width: inherit;
  display: grid;
  grid-template-columns: 600px 580px;
  column-gap: 60px;
}

.feed__ready {
  display: grid;
  row-gap: 60px;
  grid-template-rows: repeat(3, auto);
}

.feed__readyHead {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 36px;
}