.emailInput {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 4px;
}

.emailInput__wrapper {
  display: flex;
  cursor: text;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--background-element);
  border: 2px solid var(--background-element);
  border-radius: var(--common-border-radius-s);
  transition: 0.3s;
  position: relative;
  padding: 0 24px;
  min-height: 64px;
  width: 480px;
}

.emailInput__disabled {
  cursor: not-allowed;
}

.emailInput__status_error {
  border: 2px solid var(--colors-interface-error);
}

.emailInput__status_active {
  border: 2px solid var(--colors-interface-accent);
}

.emailInput__placeholder {
  display: block;
  position: absolute;
  cursor: text;
  top: 18px;
  text-align: left;
  color: var(--text-inactive-color);
  transition: 0.3s;
}

.emailInput__placeholder_filled {
  top: 8px;
}

.emailInput__placeholder_focused {
  top: 8px;
}

.emailInput__textfield {
  cursor: text;
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  color: var(--text-primary-color);
  margin-top: 16px;
}

.emailInput__textfield_disabled {
  color: var(--text-inactive-color);
  cursor: not-allowed;
}

.emailInput__textfield:focus {
  outline: none;
}

.emailInput__textfield:-webkit-autofill {
  -webkit-text-fill-color: var(--text-primary-color);
}