.forgotPassword {
  height: 85vh;
  display: flex;
}

.forgotPassword__section {
  margin: auto;
}

.forgotPassword__textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.forgotPassword__textLine {
  margin: 0;
}