.burgerIngridients {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 20px;
}

.burgerIngridients__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  height: 60dvh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: grid;
  row-gap: 40px;
}

.burgerIngridients__list_void {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burgerIngridients__link {
  text-decoration: none;
  color: var(--text-primary-color);
}

.burgerIngridients__tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.burgerIngridients__list::-webkit-scrollbar {
  width: 8px;
}

.burgerIngridients__list::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.burgerIngridients__list::-webkit-scrollbar-track {
  background: #2F2F37;
}