.orderDetails {
  display: grid;
  row-gap: 60px;
}

.orderDetails__head {
  display: grid;
  row-gap: 8px;
}

.orderDetails__wrapper {
  display: grid;
  row-gap: 40px;
}

.orderDetails__main {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 24px;
  height: 360px;
  width: 100%;
}

.orderDetails__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  line-clamp: 3;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.orderDetails__ingridientWrapper {
  overflow-y: scroll;
}

.orderDetails__footer {
  display: flex;
  justify-content: space-between;
}

.orderDetails__price {
  display: flex;
  column-gap: 9px;
  align-items: center;
}

.orderDetails__ingridient {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  row-gap: 16px;
  padding-right: 32px;
}

.orderDetails__ingridientWrapper::-webkit-scrollbar {
  width: 8px;
}

.orderDetails__ingridientWrapper::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.orderDetails__ingridientWrapper::-webkit-scrollbar-track {
  background: #2F2F37;
}

.orderDetails__ingridientItem {
  display: grid;
  column-gap: 16px;
  grid-template-columns: 64px 1fr auto;
  align-items: center;
  list-style: none;
}

@media screen and (max-width: 850px) {
  .orderDetails {
    row-gap: 24px;
  }

  .orderDetails__ingridient {
    row-gap: 8px;
    padding-right: 12px;
  }

  .orderDetails__ingridientItem {
    column-gap: 8px;
    grid-template-columns: 36px 1fr auto;
  }
}