
.orderDetails__head {
  display: grid;
  row-gap: 8px;
}

.orderDetails__main {
  height: 360px;
  width: 100%;
}

.orderDetails__footer {
  display: flex;
  justify-content: space-between;
}

.orderDetails__price {
  display: flex;
  column-gap: 9px;
  align-items: center;
}