.orderDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.orderDetails__identification {
  margin: 0;
}

.orderDetails__title {
  margin: 0;
}

.orderDetails__main {
  display: grid;
  row-gap: 60px;
  justify-items: center;
}

.orderDetails__descr {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 8px;
}

.orderDetails__descrText {
  margin: 0;
  text-align: center;
}