.ingridientsItem {
  cursor: pointer;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  justify-items: center;
  row-gap: 8px;
}

.ingridientsItem__name {
  height: 48px;
}

@media screen and (max-width: 850px) {
  .ingridientsItem__name {
    height: 60px;
    font-size: 14px;
  } 
}