.resetPassword {
  height: 85vh;
  display: flex;
}

.resetPassword__section {
  margin: auto;
}

.resetPassword__textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}