.header {
  background-color: var(--background);
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1280px;
}

.header__container {
  width: 790px;
  display: flex;
  justify-content: space-between;
}

.header__navList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media screen and (max-width: 1315px) {
  .header__section {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .header__navList {
    display: none;
  }

  .header__container {
    width: initial;
  }

  .header__menuBtn {
    border: none;
    background-color: inherit;
  }
}