.ingridients-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.ingridients-item__head {
  display: inherit;
  flex-direction: column;
  align-items: center;
}

.ingridients-item__text {
  margin: 4px 0;
  text-align: center;
}